body{
    background-image: url("../img/img1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 50px;
}

p{
    margin-top: 10px;
    margin-bottom: 25px;
    text-align: center;
    font-size: 50px;
}

.container{
    background-color: #fff;
    border-radius: 30px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
}